################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicsCRMWebResourceFramework/node_modules
*.lock
/DynamicsCRMWebResourceFramework/bin
